In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('pima_diabelete.csv')

In [4]:
df
# first task clear!

,Unnamed: 0,preg,plas,pres,skin,insu,mass,pedi,age,class
0,0,6.0,148.0,72.0,35.0,NaN,33.6,0.627,50,tested_positive
1,1,1.0,85.0,66.0,29.0,NaN,26.6,0.351,31,tested_negative
2,2,8.0,183.0,64.0,NaN,NaN,23.3,0.672,32,tested_positive
3,3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21,tested_negative
4,4,NaN,137.0,40.0,35.0,168.0,43.1,2.288,33,tested_positive
...,...,...,...,...,...,...,...,...,...,...
763,763,10.0,101.0,76.0,48.0,180.0,32.9,0.171,63,tested_negative
764,764,2.0,122.0,70.0,27.0,NaN,36.8,0.340,27,tested_negative
765,765,5.0,121.0,72.0,23.0,112.0,26.2,0.245,30,tested_negative
766,766,1.0,126.0,60.0,NaN,NaN,30.1,0.349,47,tested_positive
767,767,1.0,93.0,70.0,31.0,NaN,30.4,0.315,23,tested_negative

In [5]:
# YY = df.loc[df['sepal.length'] > 5.0]   
# แสดงข้อมูลผู้ป่วยที่มีอายุมากกว่า 30 และมีความหนาของผิวหนัง (skin) มากกว่า 35 มิิลลิเมตรขึ้นไป

new_age = df.loc[ (df['age'] > 30) & (df['skin'] > 35) ]  
new_age
# second task clear!

,Unnamed: 0,preg,plas,pres,skin,insu,mass,pedi,age,class
8,8,2.0,197.0,70.0,45.0,543.0,30.5,0.158,53,tested_positive
16,16,NaN,118.0,84.0,47.0,230.0,45.8,0.551,31,tested_positive
18,18,1.0,103.0,30.0,38.0,83.0,43.3,0.183,33,tested_negative
37,37,9.0,102.0,76.0,37.0,NaN,32.9,0.665,46,tested_positive
39,39,4.0,111.0,72.0,47.0,207.0,37.1,1.390,56,tested_positive
...,...,...,...,...,...,...,...,...,...,...
744,744,13.0,153.0,88.0,37.0,140.0,40.6,1.174,39,tested_negative
747,747,1.0,81.0,74.0,41.0,57.0,46.3,1.096,32,tested_negative
755,755,1.0,128.0,88.0,39.0,110.0,36.5,1.057,37,tested_positive
756,756,7.0,137.0,90.0,41.0,NaN,32.0,0.391,39,tested_negative
763,763,10.0,101.0,76.0,48.0,180.0,32.9,0.171,63,tested_negative

In [6]:
# ลบคอลัมน์ Unnamed: 0 ออกจาก dataframe พร้อมแสดงผลลัพธ์
df = pd.read_csv('pima_diabelete.csv')
# เอากลับมาอ่านใหม่ เพราะเผลอลบ row แรก
newdf = df.drop("Unnamed: 0", axis='columns')
newdf

#Third task clear!

     preg   plas  pres  skin   insu  mass   pedi  age            class
0     6.0  148.0  72.0  35.0    NaN  33.6  0.627   50  tested_positive
1     1.0   85.0  66.0  29.0    NaN  26.6  0.351   31  tested_negative
2     8.0  183.0  64.0   NaN    NaN  23.3  0.672   32  tested_positive
3     1.0   89.0  66.0  23.0   94.0  28.1  0.167   21  tested_negative
4     NaN  137.0  40.0  35.0  168.0  43.1  2.288   33  tested_positive
..    ...    ...   ...   ...    ...   ...    ...  ...              ...
763  10.0  101.0  76.0  48.0  180.0  32.9  0.171   63  tested_negative
764   2.0  122.0  70.0  27.0    NaN  36.8  0.340   27  tested_negative
765   5.0  121.0  72.0  23.0  112.0  26.2  0.245   30  tested_negative
766   1.0  126.0  60.0   NaN    NaN  30.1  0.349   47  tested_positive
767   1.0   93.0  70.0  31.0    NaN  30.4  0.315   23  tested_negative

[768 rows x 9 columns]

In [11]:
# กำจัด missing values โดยวิธี replace by means
#We cannot directly change because tested_postive is not numeric data
#take class as a variable
df = pd.read_csv('pima_diabelete.csv')
df = df.drop("Unnamed: 0", axis='columns')
df['class'].squeeze()
df['class'] = df['class'].map({'tested_positive': '1', 'tested_negative': '0'})
# check class column that does it has any NAN
#need to change class to numeric
# df = df.fillna(df.mean(axis = 0,skipna=True))    
# df


# below is work so well
# df[['preg', 'plas']] = df[['preg','plas']].fillna(df['preg'].mean())
# df

# convert last column from object to Int lets go
df['class'] = df['class'].astype(str).astype(int)
df.fillna(df.mean())
# finally Fourth task clear!!

          preg   plas  pres      skin        insu  mass   pedi  age  class
0     6.000000  148.0  72.0  35.00000  155.548223  33.6  0.627   50      1
1     1.000000   85.0  66.0  29.00000  155.548223  26.6  0.351   31      0
2     8.000000  183.0  64.0  29.15342  155.548223  23.3  0.672   32      1
3     1.000000   89.0  66.0  23.00000   94.000000  28.1  0.167   21      0
4     4.494673  137.0  40.0  35.00000  168.000000  43.1  2.288   33      1
..         ...    ...   ...       ...         ...   ...    ...  ...    ...
763  10.000000  101.0  76.0  48.00000  180.000000  32.9  0.171   63      0
764   2.000000  122.0  70.0  27.00000  155.548223  36.8  0.340   27      0
765   5.000000  121.0  72.0  23.00000  112.000000  26.2  0.245   30      0
766   1.000000  126.0  60.0  29.15342  155.548223  30.1  0.349   47      1
767   1.000000   93.0  70.0  31.00000  155.548223  30.4  0.315   23      0

[768 rows x 9 columns]

In [ ]:
# ปรับค่า feature 'plas' และ 'skin' ให้อยู่ระหว่าง 0 ถึง 1